<div class="container">
  <h2>Have a view on the cuisines</h2>
  <p>Chase the flavours....Coz every meal matters</p>
  

</div>
<div class="container">
  <div class="row row-cols-2" style="margin : 10px">
    <div class="col" *ngFor="let f of foods">
      <span class="card" style="width:400px">
        <img class="card-img-top" [src]="f.img" alt="Card image" style="width:100%">
        <span class="card-body">
          <h4 class="card-title">{{f.dishName | titlecase}}</h4>
          <p class="card-text">{{f.description | titlecase}}</p>
          <h2 class="card-title">Price : {{f.price}}</h2>
          <input *ngIf="loggedIn" type="button" value="Add to cart" class="btn btn-warning" (click)="fnAddToCart(f)">
        </span>
      </span>
    </div>
  </div>
</div>
<!--
 <div><h1>Straters</h1></div>
 <div class="row" style="padding: 50px;">


   <div class="col-md-4" *ngFor="let food of foods">
     <div class="card" style="width: 18rem; ">
       <img class="card-img-top" src="..." alt="Card image cap">
       <div class="card-body">
         <h5 class="card-title">{{food.dishName}}</h5>
         <p class="card-text">
           {{food.description}}
         </p>
         <a href="#" class="btn btn-primary">Add to Cart</a>
       </div>
     </div>
   </div>

    <div class="col-md-4">
         <div class="card" style="width: 18rem; ">
           <img class="card-img-top" src="..." alt="Card image cap">
           <div class="card-body">
             <h5 class="card-title">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
               content.</p>
             <a href="#" class="btn btn-primary">Add to cart</a>
           </div>
         </div>
       </div>

       <div class="col-md-4">
         <div class="card" style="width: 18rem; ">
           <img class="card-img-top" src="..." alt="Card image cap">
           <div class="card-body">
             <h5 class="card-title">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
               content.</p>
             <a href="#" class="btn btn-primary">Add to cart</a>
           </div>
         </div>
       </div>
       </div>
       <div class="row" style="padding: 50px;">
       <div class="col-md-4">
         <div class="card" style="width: 18rem; ">
           <img class="card-img-top" src="..." alt="Card image cap">
           <div class="card-body">
             <h5 class="card-title">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
               content.</p>
             <a href="#" class="btn btn-primary">Add to cart</a>
           </div>
         </div>
       </div>
       <div class="col-md-4">
         <div class="card" style="width: 18rem; ">
           <img class="card-img-top" src="..." alt="Card image cap">
           <div class="card-body">
             <h5 class="card-title">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
               content.</p>
             <a href="#" class="btn btn-primary">Add to cart</a>
           </div>
         </div>
       </div>
       <div class="col-md-4">
         <div class="card" style="width: 18rem; ">
           <img class="card-img-top" src="..." alt="Card image cap">
           <div class="card-body">
             <h5 class="card-title">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
               content.</p>
             <a href="#" class="btn btn-primary">Add to Cart</a>
           </div>
         </div>
       </div>
   </div>

   <div class="row" style="padding: 50px;">
       <div class="col-md-4">
         <div class="card" style="width: 18rem; ">
           <img class="card-img-top" src="..." alt="Card image cap">
           <div class="card-body">
             <h5 class="card-title">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
               content.</p>
             <a href="#" class="btn btn-primary">Add to cart</a>
           </div>
         </div>
       </div>
       <div class="col-md-4">
         <div class="card" style="width: 18rem; ">
           <img class="card-img-top" src="..." alt="Card image cap">
           <div class="card-body">
             <h5 class="card-title">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
               content.</p>
             <a href="#" class="btn btn-primary">Add to cart</a>
           </div>
         </div>
       </div>
       <div class="col-md-4">
         <div class="card" style="width: 18rem; ">
           <img class="card-img-top" src="..." alt="Card image cap">
           <div class="card-body">
             <h5 class="card-title">Card title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
               content.</p>
             <a href="#" class="btn btn-primary">Add to Cart</a>
           </div>
         </div>
       </div>

  </div>-->
