<div class="container">
  <div class="row row-cols-2 " style="margin : 10px">
    <div class="col" *ngFor="let order of orders" >
      <div class="card text-center" [routerLink]="['/orderdetails/', order.orderId]">
        <div class="card-header">
          Order ID : {{order.orderId}}
        </div>
        <div class="card-body">
          <h5 class="card-title">Dishes </h5>
          <ul class="list-group" *ngFor="let dish of order.dishList">
            <li class="list-group-item">{{dish}}</li>
          </ul>
        </div>
        <div class="card-footer">
          Price : {{order.price}}
        </div>
      </div>
    </div>
  </div>
</div>
