<form [formGroup]="signupForm" class="container-fluid">
  Id: <input type="number" formControlName="id" class="form-control" required >
  First Name: <input type="text" formControlName="firstName" class="form-control" required >
  Last Name: <input type="text" formControlName="lastName" class="form-control">
  Age: <input type="number" formControlName="lastName" class="form-control" required >
  Password: <input type="password" formControlName="password" class="form-control" required >
  Confirm Password: <input type="text" formControlName="cpassword" class="form-control" required >
  <br>
  <input type="submit" value="Submit" class="btn btn-success" (click)="signup()">
  &nbsp;  <input type="reset" value="Reset" class="btn btn-warning">
</form>
<br>
{{ signupForm.value | json}}
